<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Составление заявки</title>
  <link rel="stylesheet" href="/static/styles/utilities_application.css">
</head>
<body>
<header class="header"><div class="inner"><a class="brand" href="/utilities">mos.ru</a></div></header>

<main>
  <div class="container cart">
    <h1 class="h1">Составление заявки</h1>

    
    <section class="address-card">
      <input type="text" placeholder="Введите адрес" value="{{ .data.Address }}">
    </section>

   
    {{ range .data.CartItems }}
    <div class="service-row">
      
      <section class="service-card">
        <img class="icon" src="{{ .Service.ImageURL }}" alt="{{ .Service.Title }}">
        <div class="body">
          <h3>{{ .Service.Title }}</h3>
          
          <a class="btn" href="/utilities/{{ .Service.ID }}">Подробнее</a>

          <div class="inputs">

            <div class="field">
              <label>Тариф</label>
              {{if .CustomTariff}}
                <input type="text" value="{{ .CustomTariff }}"><span class="u">₽</span>
              {{else}}
                <input type="text" value="{{ .Service.Tariff }}"><span class="u">₽</span>
              {{end}} 
              
            </div>

            <div class="field"><label>Расход</label><input type="text" value="{{ .Quantity }}"><label>{{ .Service.Unit }}</label></div>

            <div class="field"><label>Итого</label><input type="text" value="{{ .Total }}"><span class="u">₽</span></div>
          </div>
        </div>
      </section>

      
      
    </div>
    {{ end }}

    
    <div class="total-card">
      <div class ="inner-total">
          <label for="total">К оплате:</label>
          <input id="total" type="text" value="{{ .data.Total }}"><span>₽</span>
      </div>

      <div class="page-actions">
        <form method="POST" action="/utilities_application/delete">
          <input type="hidden" name="application_id" value="{{ .data.CartID }}">
          <button type="submit" class="btn btn--danger">Удалить заявку</button>
        </form>
      </div>

    </div>

  </div>
</main>
{{ if gt .data.CartItemCount 0 }}
<button class="fab" onclick="window.location.href='/utilities_application/{{ .data.CartID }}'">
  <img src="http://localhost:9000/kartinki/cart_new.png" alt="К заявке">
  <span class="count">{{ .data.CartItemCount }}</span>
</button>
{{ else }}
<button class="fab disabled" disabled>
  <img src="http://localhost:9000/kartinki/cart_new.png" alt="К заявке">
</button>
{{ end }}

</body>
</html>
