version: "3.8"
services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123456
    ports:
      - "9000:9000"   # S3 endpoint
      - "9001:9001"   # MinIO Console
    volumes:
      - minio-data:/data
  postgres:
    image: postgres:latest
    environment:  
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mydbpassword
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    ports:
      - "8081:8080"
    depends_on:
      - postgres
volumes:
  minio-data:
  postgres_data:
