version: "3.8"
services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123456
    ports:
      - "9000:9000"   # S3 endpoint
      - "9001:9001"   # MinIO Console
    volumes:
      - minio-data:/data
volumes:
  minio-data:
